.indicator {
    background-color: #fff;
    color: #343a40;
    box-shadow: 0 3px 4px 0 rgba(163, 163, 163, 0.5);
    border-radius: 4px;
    cursor: pointer;
}

.select {
    background-color: #25238c;
    color: #fff;
    box-shadow: 0 3px 4px 0 rgba(163, 163, 163, 0.5);
    border-radius: 4px;
}

.nav-link {
    cursor: pointer;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .navbar-brand {
        margin-top: 10px;
        font-size: smaller;
    }
    .title {
        font-size: 25px;
    }
}

.col-logo {
    width: 10%;
}

.footer-text {
    font-size: 15px;
}

.tooltip-inner {
    // background-color: #009688;
    max-width: 350px;
    text-align: justify;
    // color: #fff;
}

//  :host>>>.tooltip.top .tooltip-arrow:before,
//  :host>>>.tooltip.top .tooltip-arrow {
//     border-top-color: #009688;
// }