<router-outlet>
</router-outlet>
<section class="container">
    <div class="row">
        <div class="col-4" *ngFor="let indicator of cards">
            <div class="card text-center" (click)="generateCoursesCountGraph(indicator.type)">
                <div class="card-body">
                    <h5 class="card-title">{{indicator.type}}</h5>
                    <p class="card-text">{{indicator.value}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-12">
            <highcharts-chart [(update)]="updateFlag" [Highcharts]="Highcharts" [options]="chartOptions" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
        </div>
    </div>
</section>